{{!< default}}

<header class="site-header calendar outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

<main id="site-main" class="site-main calendar outer">
    <div class="inner">
        <div id="root"></div>
    </div>
</main>
