{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#tag}}
<header class="site-header outer {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">{{name}}</h1>
            {{#if description}}
                <h2 class="site-description">{{description}}</h2>
            {{/if}}
            <div id="author-stats" class="author-stats"></div>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div id="root"></div>
    </div>
</main>
